# Signature Examples

In [1]:
from clustergrammer2 import Network, CGM2
import pandas as pd
df = {}

>> clustergrammer2 backend version 0.16.0

In [2]:
net = Network(CGM2)

In [3]:
df['data'] = pd.read_csv('rc_two_cat_clean.csv', index_col=0)
df['meta_col'] = pd.read_csv('meta_col.csv', index_col=0)
df['data'].shape

(38, 29)

In [4]:
col_cats = ['Category', 'Gender']

In [5]:
df['meta_cat_col'] = pd.DataFrame()
df['meta_cat_col'].loc['Cat', 'color'] = 'red'
df['meta_cat_col'].loc['Dog', 'color'] = 'yellow'
df['meta_cat_col'].loc['Shark', 'color'] = 'black'
df['meta_cat_col'].loc['Snake', 'color'] = 'blue'
df['meta_cat_col'].loc['Lizard', 'color'] = 'green'
df['meta_cat_col']

         color
Cat        red
Dog     yellow
Shark    black
Snake     blue
Lizard   green

In [6]:
n1 = Network(CGM2)
n1.load_df(df['data'], meta_col=df['meta_col'], col_cats=col_cats)
n1.set_global_cat_colors(df['meta_cat_col'])
n1.set_manual_category(col='Category', preferred_cats=df['meta_cat_col'])
n1.widget()

CGM2(manual_cat='{"col": {"col_cat_colors": {"Category: five": "#393b79", "Category: four": "#ff7f0e", "Catego…

In [7]:
df['sig'], df['diff'] = net.generate_signatures(df['data'], df['meta_col'], 'Category', num_top_dims=50)

In [8]:
df['sig'].shape

(38, 5)

In [9]:
n2 = Network(CGM2)
n2.load_df(df['sig'])
n2.widget()

CGM2(network='{"row_nodes": [{"name": "AAK1", "ini": 38, "clust": 18, "rank": 19, "rankvar": 13}, {"name": "CA…

In [10]:
df['sim'] = net.predict_cats_from_sigs(df['data'], df['meta_col'], df['sig'], predict='Prediction')

In [11]:
df['sim']

,H1650,H23,CAL-12T,H358,H1975,HCC15,H1355,HCC827,H2405,HCC78,...,H460,H2106,H441,H1944,H1437,H1734,LOU-NH91,HCC44,A549,H1781
five,0.121167,0.036964,-0.110731,-0.107954,0.100290,-0.126095,-0.063123,0.029794,0.370141,0.501370,...,-0.160114,-0.281236,0.184263,0.083446,-0.216584,0.049588,0.445524,-0.021025,-0.094985,0.194000
four,-0.063141,0.054537,-0.026041,-0.126970,0.115162,0.058225,0.092505,0.135291,-0.104177,-0.064787,...,0.092061,0.439343,-0.050518,-0.051733,0.480398,-0.044320,-0.011915,0.196399,0.319996,-0.110086
one,0.226660,-0.008979,0.011027,0.526220,0.234505,-0.098671,-0.020071,0.717681,0.037199,0.295746,...,0.005295,-0.068144,0.699844,0.028312,-0.170840,0.733166,-0.053984,-0.060687,-0.045212,0.743316
three,-0.112177,0.140425,-0.004293,0.111011,0.259278,0.212176,0.540128,0.291518,-0.145957,-0.054862,...,0.574384,-0.260220,-0.066502,0.648816,0.185804,-0.050504,-0.050192,0.064952,0.525788,-0.014074
two,0.254211,0.469264,0.468497,0.177394,0.602618,0.552905,0.445596,0.151927,-0.116680,0.013736,...,-0.064721,-0.225310,0.099650,0.027130,0.186236,0.051429,0.018110,0.169236,0.183301,0.104978

In [12]:
df['meta_col'].head()

        Category  Gender Prediction
H1650        two    Male        two
H23          two    Male        two
CAL-12T      two    Male        two
H358         one    Male        one
H1975        two  Female        two

In [13]:
col_cats = ['Category', 'Prediction', 'Gender']

In [14]:
n1 = Network(CGM2)
n1.load_df(df['data'], meta_col=df['meta_col'], col_cats=col_cats)
n1.set_global_cat_colors(df['meta_cat_col'])
n1.set_manual_category(col='Category', preferred_cats=df['meta_cat_col'])
n1.widget()

CGM2(manual_cat='{"col": {"col_cat_colors": {"Category: five": "#393b79", "Category: four": "#ff7f0e", "Catego…

In [15]:
df['conf'], ser_correct, fraction_correct = n2.assess_prediction(df['meta_col'], 'Category', 'Prediction')

In [16]:
ser_correct

five     1.000000
four     0.857143
one      1.000000
three    1.000000
two      1.000000
dtype: float64

In [17]:
fraction_correct

0.9655172413793104

In [18]:
net.load_df(df['conf'])
net.widget()

CGM2(network='{"row_nodes": [{"name": "five", "ini": 5, "clust": 3, "rank": 1, "rankvar": 3}, {"name": "four",…